:root{
  --neon-pink:#ff4df0;
  --neon-blue:#4dffff;
  --neon-green:#63ff4d;
  --neon-purple:#d44dff;
  --neon-yellow:#f7ff4d;

  --text:#222;
  --bg:#0f0f0f;
}

body{
  background:var(--bg);
  color:white;
  font-family:Arial;
  margin:0;
  padding:20px;
}

.hidden{display:none}

#login-section{
  display:flex;
  justify-content:center;
}

.login-box{
  display:flex;
  width:900px;
  background:#1a1a1a;
  border-radius:16px;
  box-shadow:0 0 20px var(--neon-blue);
  overflow:hidden;
}

.login-left{
  width:40%;
  text-align:center;
  background:#111;
  padding:20px;
  border-right:3px solid var(--neon-pink);
}

.logo{width:130px;margin-bottom:8px}

.login-right{
  width:60%;
}

.banner{
  width:100%;
  height:180px;
  object-fit:cover;
  border-bottom:2px solid var(--neon-yellow);
}

input,select,button{
  width:80%;
  padding:12px;
  margin:10px auto;
  border-radius:8px;
  border:none;
}

input,select{
  background:#222;
  color:white;
  border:1px solid var(--neon-blue);
}

button{
  background:var(--neon-pink);
  color:white;
  cursor:pointer;
  border:none;
}

nav{
  display:flex;
  justify-content:center;
  gap:12px;
  margin:25px auto;
}

nav button{
  padding:10px 18px;
  border-radius:10px;
  background:var(--neon-green);
  border:none;
  color:black;
  font-weight:bold;
  box-shadow:0 0 8px var(--neon-green);
}

.modulo{
  max-width:900px;
  margin:20px auto;
  padding:20px;
  background:#151515;
  border-radius:16px;
  box-shadow:0 0 12px var(--neon-purple);
}

.card{
  background:#1f1f1f;
  border-radius:12px;
  padding:16px;
  margin:15px 0;
}

.neon-card{
  border:2px solid var(--neon-blue);
  box-shadow:0 0 12px var(--neon-blue);
}

.img-space{
  height:120px;
  background:#333;
  border-radius:8px;
  text-align:center;
  line-height:120px;
  color:#bbb;
  margin-bottom:10px;
}


.list-box{
  list-style:none;
  padding:0;
}

.list-box li{
  background:#222;
  padding:10px;
  border-radius:8px;
  margin:8px 0;
  border-left:5px solid var(--neon-yellow);
}

.neon-list li{
  box-shadow:0 0 8px var(--neon-yellow);
}

.card-container{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

.card-small{
  width:180px;
  padding:14px;
  border-radius:10px;
  background:#1e1e1e;
  text-align:center;
  border:2px solid var(--neon-pink);
  box-shadow:0 0 10px var(--neon-pink);
}

.neon-total{
  margin-top:10px;
  padding:10px;
  background:#111;
  border-radius:8px;
  border:2px solid var(--neon-green);
  box-shadow:0 0 12px var(--neon-green);
}

footer{
  text-align:center;
  margin-top:40px;
  color:white;
  padding:12px;
  border-radius:12px;
  background:#111;
  box-shadow:0 0 12px var(--neon-purple);
}
